* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.main__contanier {
    max-width: 1124px;
    margin: 0 auto;
    padding: 0 15px;
    box-shadow: 0 0 1px gray;
    background-color: white;
}

.contanier__logo {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.navigation {
    display: flex;
    justify-content: flex-end;
}

button {
    color: green;
    font-size: 13px;
    background-color: white;
    color: black;
    border: 1px solid #4caf50;
    transition-duration: 0.4s;
    width: 78px;
    height: 40px;
}

button:hover {
    background-color: #4caf50;
    color: white;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.traktir__pushkin {
    position: relative;
    text-align: center;
}

.traktir__background {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 364px;
}

.bottom-left {
    background-color: white;
    box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
    border-radius: 2px;
    position: absolute;
    width: 389px;
    height: 204px;
    left: 250px;
    top: 80px;
}

.info {
    position: absolute;
    display: flex;
    align-items: flex-end;
}

.navbar {
    width: 1124px;
    height: 80px;
    top: 6px;
    left: 250px;
}

.nav-link {
    color: #327430;
}

.tabs-labels {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    column-gap: 40px;
    row-gap: 15px;
}

.tabs>input[type='radio'] {
    display: none;
}

.tabs-labels>label {
    text-align: center;
    vertical-align: middle;
    user-select: none;
    transition: 0.15s ease-out;
    cursor: pointer;
}

.tabs-labels>label:hover {
    color: var(--color-darkgray);
}

#tab-btn-1:checked~.tabs-labels #tab-btn-label-1,
#tab-btn-2:checked~.tabs-labels #tab-btn-label-2,
#tab-btn-3:checked~.tabs-labels #tab-btn-label-3,
#tab-btn-4:checked~.tabs-labels #tab-btn-label-4,
#tab-btn-5:checked~.tabs-labels #tab-btn-label-5,
#tab-btn-6:checked~.tabs-labels #tab-btn-label-6 {
    color: #4ca149;
}

.tabs-contents {
    overflow: hidden;
}

.tab-content {
    display: none;
    padding-top: 30px;
    padding-bottom: 50px;
}

#tab-btn-1:checked~.tabs-contents #menu-1,
#tab-btn-2:checked~.tabs-contents #menu-2,
#tab-btn-3:checked~.tabs-contents #menu-3,
#tab-btn-4:checked~.tabs-contents #menu-4,
#tab-btn-5:checked~.tabs-contents #menu-5,
#tab-btn-6:checked~.tabs-contents #menu-6 {
    display: block;
    animation: trans-from-right 0.4s ease-out;
}