.main__contanier {
    max-width: 1124px;
    margin: 0 auto;
    padding: 0 15px;
    box-shadow: 0 0 1px gray;
    background-color: white;
}

.contanier__logo {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.navigation {
    display: flex;
    justify-content: flex-end;
}

button {
    color: green;
    font-size: 13px;
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
    transition-duration: 0.4s;
    width: 78px;
    height: 40px;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}